* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f6f8;
    color: #333;
}

header {
    background-color: #2fa4a9;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

section {
    padding: 40px 20px;
    max-width: 1000px;
    margin: auto;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card {
    background-color: white;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.about {
    text-align: center;
}

.contact form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: auto;
}

.contact input,
.contact textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.contact button {
    background-color: #2fa4a9;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}


footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
}
