name: deploy to Github Pages

on:
  push:
    branches:
      - main
      - master
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: pages
  cancel-in-progress: false

jobs:
  deploy:
    runs-on: ubuntu-latest

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Explorando o Runner
        run: lsb_release -a && free -h

      - name: Setup pages
        uses: actions/configure-pages@v4

      - name: Verificar pasta src
        run: test -d src

      - name: Verificar arquivo CSS
        run: test -f src/css/style.css

      - name: Verificar footer com nome do aluno
        run: |
          grep -i "<footer>" src/index.html
          grep -i "Talita" src/index.html

      - name: Validar sintaxe do HTML
        uses: Cyb3r-Jak3/h
